# String Manipulations
## Python Built in String Object Methods

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
val = "a,b,  guido"
val.split(",")

['a', 'b', '  guido']

In [4]:
pieces = [x.strip() for x in val.split(",")]
pieces

['a', 'b', 'guido']

In [5]:
first, second, third = pieces
first + "::" + second + "::" + third

'a::b::guido'

In [6]:
"::".join(pieces)

'a::b::guido'

In [7]:
"guido" in val

True

In [8]:
val.index(",")

1

In [9]:
val.find(":")

-1

In [10]:
val.index(":")

ValueError: substring not found

In [11]:
val.count(",")

2

In [12]:
val.replace(",", "::")

'a::b::  guido'

In [13]:
val.replace(",","")

'ab  guido'

## Regular Expressions

In [14]:
import re

In [17]:
text = "foo     bar\t bax  \tqux"

In [16]:
re.split(r"\s+", text)

['foo', 'bar', 'bax', 'qux']

In [18]:
regex = re.compile(r"\s+")

In [19]:
regex.split(text)

['foo', 'bar', 'bax', 'qux']

In [20]:
regex.findall(text)

['     ', '\t ', '  \t']

In [21]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com"""
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"
regex = re.compile(pattern, flags=re.IGNORECASE)

In [22]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [23]:
match_obj = regex.search(text)

In [24]:
match_obj

In [25]:
text[match_obj.start():match_obj.end()]

'dave@google.com'

In [36]:
print(regex.sub("******", text))

Dave ******
Steve ******
Rob ******
Ryan ******

In [28]:
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
regex = re.compile(pattern, flags = re.IGNORECASE)

In [31]:
m = regex.match("wesm@bright.net")

In [32]:
m.groups()

('wesm', 'bright', 'net')

In [33]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [35]:
print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

## String Functions in Pandas

In [38]:
data = {
    "Dave": "dave@google.com",
    "Steve":"steve@gmail.com",
    "Rob":"rob@gmail.com",
    "Wes":np.nan
}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [39]:
data.isna()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [40]:
data.str.contains("gmail")

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [42]:
data_as_string_ext = data.astype('string')
data_as_string_ext

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                 <NA>
dtype: string

In [43]:
data_as_string_ext.str.contains("gmail")

Dave     False
Steve     True
Rob       True
Wes       <NA>
dtype: boolean

In [44]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [45]:
matches = data.str.findall(pattern, flags=re.IGNORECASE).str[0]

In [46]:
matches

Dave     (dave, google, com)
Steve    (steve, gmail, com)
Rob        (rob, gmail, com)
Wes                      NaN
dtype: object

In [47]:
matches.str.get(1)

Dave     google
Steve     gmail
Rob       gmail
Wes         NaN
dtype: object

In [48]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [49]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

`str.extract` returns captured groups as DF Col

In [50]:
data.str.extract(pattern, flags=re.IGNORECASE)

           0       1    2
Dave    dave  google  com
Steve  steve   gmail  com
Rob      rob   gmail  com
Wes      NaN     NaN  NaN