# Index Objects in Pandas

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = pd.Series(np.arange(3), index=["a", "b", "c"])
obj

a    0
b    1
c    2
dtype: int64

In [3]:
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [4]:
index[1:]

Index(['b', 'c'], dtype='object')

- Index objects are immutable

In [5]:
index[1] = "d"

TypeError: Index does not support mutable operations

In [6]:
labels = pd.Index(np.arange(3))
labels

Index([0, 1, 2], dtype='int64')

In [7]:
obj2 = pd.Series([1.5,-2.5,0], index=labels)
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [8]:
obj2.index is labels

True

In [11]:
populations = {"Ohio": {2000:1.5, 2001:1.7, 2002:3.6}, "Nevada": {2001:2.4, 2002:2.9}}
frame3 = pd.DataFrame(populations)
frame3

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

In [12]:
frame3.columns

Index(['Ohio', 'Nevada'], dtype='object')

In [13]:
"Ohio" in frame3.columns

True

In [14]:
frame3.index

Index([2000, 2001, 2002], dtype='int64')

In [16]:
2001 in frame3.index

True

In [17]:
pd.Index(['foo', 'foo', 'bar', 'bar'])

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')