# Summarizing and Computing Descriptive Statustucs

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],
            index=list("abcd"), columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [3]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [5]:
df.sum(axis=0)

one    9.25
two   -5.80
dtype: float64

In [7]:
df.sum(axis='index')

one    9.25
two   -5.80
dtype: float64

In [8]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

- If an entire row or column contains all NA values, then sum is 0
- if any valu in not NA then the result is NA
- this can be disabled with `skipna` option.
    - in which case, any NA value in a row or col names the corresponding NA

In [9]:
df.sum(axis='index', skipna=False)

one   NaN
two   NaN
dtype: float64

In [10]:
df.sum(axis=1, skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [11]:
df.mean(axis='columns')

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

- `idmin` and `idmax` return indirect statistics.
- index value where the minimum or maximim values attained

In [12]:
df.idxmax()

one    b
two    d
dtype: object

In [13]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [14]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [16]:
obj = pd.Series(list("aabc")*4)
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [17]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

## Unique Values, Value Counts, and Membership

In [18]:
obj = pd.Series(list("cadaabbcc"))

In [20]:
uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [21]:
obj.value_counts()

c    3
a    3
b    2
d    1
Name: count, dtype: int64

- Value counts is also present as top level pandas menthod.

In [22]:
pd.value_counts(obj.to_numpy(), sort=False)

C:\Users\Najee\AppData\Local\Temp\ipykernel_12892\164454357.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(obj.to_numpy(), sort=False)

c    3
a    3
d    1
b    2
Name: count, dtype: int64